.host-selection {
}

.MoveRight {
}

.main-menu-navigation {
    height: 52%;
    width: 26%;
    justify-content: flex-start;
    padding-bottom: 10px;
    align-items: center;
}

.MoveLeft {
}

.main-menu-slab {
    width: 50%;
    height: 30%;
    flex-direction: column-reverse;
    align-items: center;
}
