.panel {
    background-image: url("project://database/Assets/Art/Textures/UI%20Textures/Menu/SkywardBackground.png?fileID=2800000&guid=5bc803bb1f599fe469dcd6698e2952f5&type=3#SkywardBackground");
    background-position-x: center 0;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    opacity: 1;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.menu {
}
