Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
Logs
logs
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
**/Assets/AssetStoreTools
**/assets/assetstoretools
/Assets/Plugins*
/assets/plugins*
.vs
.gradle
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
.collabignore
Thumbs.db
Desktop.ini
CommonBurstAotSettings.json
BurstAotSettings_StandaloneWindows.json
/ProjectSettings/boot.config

Skyward_Project/.vscode/settings.json
Skyward_Project/.idea
Skyward_Project/Assets/Plugins/LeartesStudios/AncientRuins/Built-in/Built-in_StylizedAncientRuins.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/LostCave/Built-in/Built-in_StylizedLostCave.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/LostCave/URP/URP_StylizedLostCave.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/AncientRuins/URP/URP_StylizedAncientRuins.unitypackage.meta
Skyward_Project/Assets/Plugins/Pirates/Render_Pipeline_Convert/Built-In_to_URP.unitypackage.meta
Skyward_Project/Assets/Plugins/Polyart/PolyartStudio/DreamscapeCastle/Click Me - Castle URP.unitypackage.meta
Skyward_Project/Assets/Plugins/Rukha93/ModularAnimeCharacter 2/Update to HDRP.unitypackage.meta
Skyward_Project/Assets/Plugins/Rukha93/ModularAnimeCharacter 2/Update to URP.unitypackage.meta
Skyward_Project/Assets/Plugins/Toon Deserted Temples/BuiltIn_Toon Deserted Temples_6000.0.32.unitypackage.meta
Skyward_Project/Assets/Plugins/Toon Deserted Temples/URP_Toon Deserted Temples_6000.0.32.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/AncientRuins/Built-in/Built-in_StylizedAncientRuins.unitypackage.meta
