Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
Logs
logs
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
**/Assets/AssetStoreTools
**/assets/assetstoretools
/Assets/Plugins*
/assets/plugins*
.vs
.gradle
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
.collabignore
Thumbs.db
Desktop.ini
CommonBurstAotSettings.json
BurstAotSettings_StandaloneWindows.json
/ProjectSettings/boot.config

FMOD Project
# Never ignore DLLs in the FMOD subfolder.
!Skyward_Project/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!Skyward_Project/[Aa]ssets/Gizmos/FMOD/*
!Skyward_Project/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
Skyward_Project/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
Skyward_Project/[Aa]ssets/StreamingAssets/**/*.bank
Skyward_Project/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log


Skyward_Project/.vscode/settings.json
Skyward_Project/.idea
Skyward_Project/Assets/Plugins/LeartesStudios/AncientRuins/Built-in/Built-in_StylizedAncientRuins.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/LostCave/Built-in/Built-in_StylizedLostCave.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/LostCave/URP/URP_StylizedLostCave.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/AncientRuins/URP/URP_StylizedAncientRuins.unitypackage.meta
Skyward_Project/Assets/Plugins/Pirates/Render_Pipeline_Convert/Built-In_to_URP.unitypackage.meta
Skyward_Project/Assets/Plugins/Polyart/PolyartStudio/DreamscapeCastle/Click Me - Castle URP.unitypackage.meta
Skyward_Project/Assets/Plugins/Rukha93/ModularAnimeCharacter 2/Update to HDRP.unitypackage.meta
Skyward_Project/Assets/Plugins/Rukha93/ModularAnimeCharacter 2/Update to URP.unitypackage.meta
Skyward_Project/Assets/Plugins/Toon Deserted Temples/BuiltIn_Toon Deserted Temples_6000.0.32.unitypackage.meta
Skyward_Project/Assets/Plugins/Toon Deserted Temples/URP_Toon Deserted Temples_6000.0.32.unitypackage.meta
Skyward_Project/Assets/Plugins/LeartesStudios/AncientRuins/Built-in/Built-in_StylizedAncientRuins.unitypackage.meta
Skyward_Project/Assets/Plugins/TextMesh Pro/Resources/Fonts & Materials/*.asset

Skyward_Project/CCDBuildData
